{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 100,
  "arrowParens": "always",
  "endOfLine": "lf",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/generated/(.*)$",
    "^@/app",
    "^@/core/(.*)$",
    "^@/core/lib/(.*)$",
    "^@/core/exceptions/(.*)$",
    "^@/core/schemas/(.*)$",
    "^@/core/middleware/(.*)$",
    "^@/features/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "importOrderGroupNamespaceSpecifiers": true
}
